html, body {
	padding: 0;
	margin: 0;
	height: 100%;
	width: 100%;
	background-color: #3a3a3a;
	color: #f0f0f0;
}
body {
	display:flex;
	flex-direction: column;
}
a {
	text-decoration: none;
	color: #f0f0f0;
}
nav {
	height: 50px;
	width: 100%;
	display: flex;
	justify-content: flex-end;
	background-color: #636363;
}
nav * {
	height: 100%;
	margin: 0;
	display: flex;
	align-items: center;

	font-family: sans;
}
nav p {
	margin-left: 15px;
	margin-right: 15px;
}
nav a.ipfs {
	margin-right: auto;
}
nav a:hover {
	background-color: #505050;
}
nav a.ipfs h1 {
	margin-left: 15px;
}
nav a.ipfs h1 img {
	height: 100%;
	margin-right: 15px;
}

#content {
	margin-left: 100px;
	margin-right: 100px;
	margin-top: 50px;
	max-width: 800px;
	align-self: center;
}
#content h1{
	font-family: sans-serif;
	font-weight: 300;
}
#content p {
	font-family: sans-serif;
	font-size: 14px;
	line-height: 1.6;
}
#content h4 {
	font-family: sans-serif;
	color: #6acad1;
	font-size: 18px;
	font-weight: 400;
}
#content code {
	font-size: 12px;
	padding: 2px 5px;
	background-color: #252525;
	line-height: 2em;
}
#content blockquote {
	font-family: monospace;
	font-size: 12px;
	padding: 2px 5px;
	background-color: #252525;
	line-height: 1.8;
	margin: 10px 0;
	width: auto;
}
#content p.file-title {
	margin-bottom: -10px;
	color:#ddd;
	font-size: 12px;
	font-weight: bold;;
	font-family: monospace;
	background-color: #252525;
	width: 120px;
	padding: 2px 5px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}
#content a {
	color: #fff;
}
#content > p > a {
	color: #6acad1;
}
#content h5.quote {
	margin: 20px 0;
	color:#bbb;
	font-size: 16px;
	font-weight: 400;
	font-family: monospace;
	border-left: 3px solid #6acad1;
	padding-left: 4px;
	box-sizing: border-box;
}

.screenshot {
  position: relative;
  width: 760px;
  background-color: #333;
  border-radius: 3px;
  background-position: 50% 0%;
  background-size: 140%;
	background-repeat: no-repeat;
}
.screenshot.first {
	background-image: url('images/Wattman.png');
	background-position: 50% 0%;
	background-size: 100%;
	height: 725px;
}
.screenshot.second {
	background-image: url('images/grub.png');
	background-position: 50% 0%;
	background-size: 100%;
	height: 200px
}
.screenshot.third {
	background-image: url('images/CoreCtrl.png');
	background-position: 50% 0%;
	background-size: 100%;
	height: 405px;
}

@media (max-width: 991px) {
	.screenshot {
		max-width: 680px;
	}
	.screenshot.first {
		height: 685px;
	}
	.screenshot.second {
		height: 100px;
	}
	.screenshot.third {
		height: 365px;
	}
}

@media (max-width: 767px) {
	.screenshot {
		max-width: 380px;
	}
	.screenshot.first {
		height: 382px;
	}
	.screenshot.second {
		height: 80px;
	}
	.screenshot.third {
		height: 205px;
	}
}

@media (max-width: 450px) {
	.screenshot {
		max-width: 300px;
	}
	.screenshot.first {
		height: 302px;
	}
	.screenshot.second {
		height: 80px;
	}
	.screenshot.third {
		height: 160px;
	}
}

.contrib-link {
	text-decoration: none;
}
.contrib-element {
	height: 60px;
	width: 160px;
	box-sizing: border-box;
	display: inline-block;
	position: relative;
	margin-right: 20px;
	margin-bottom: 20px;
	border-radius: 30px;
	background-color: #ddd;
	padding: 10px;
	box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.25);
	transition: ease-in all 0.15s;
}
.contrib-element:hover {
	background-color: white;
	box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.5);
}
.contrib-name {
	display: inline-block;
	color: #333;
	vertical-align: top;
	margin: 0;
	height: 100%;
	padding: 10px 4px;
}
.contrib-avatar {
	height:40px;
	width: 40px;
	display: inline-block;
	position: relative;
	border-radius: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100%;
}

.contrib-avatar.vik {
	background-image: url('images/avatars/vik.png');
}
.contrib-avatar.swed {
	background-image: url('images/avatars/swed.png');
}

.contrib-element.clone {
	border-radius: 5px;
	background-color: #548;
	margin-bottom: 100px;
}
.contrib-element.clone:hover {
	background-color: #403368;
}
.contrib-element.clone > p{
	color: white;
}
.contrib-avatar.git {
	background-image: url('images/avatars/gitlab.png');
	border-radius: 0px;
	background-size: 80%;
}

@media (max-width:991px) {
	#content {
		margin-left: 50px;
		margin-right: 50px;
		max-width: 100%;
	}
}

@media (max-width:450px) {
	#content {
		margin-left: 20px;
		margin-right: 20px;
	}
}
